.messages {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialog ul {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-items: center;
}
.dialogItem {
  padding: 5px;
}

.dialogItem:hover {
  background-color: white;
}
.message ul {
  padding: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  justify-items: center;
}

.messageItem {
  display: block;
  background-color: beige;
  padding: 10px;
  border-radius: 30px;
}

a {
  text-decoration: none;
  cursor: pointer;
  display: block;
  padding: 5px 5px;
}
a:hover {
  background-color: white;
}
.active {
  background-color: white;
  font-weight: bold;
}
