.imgSize {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px black solid;
}
.post {
  background-color: beige;
  margin-top: 10px;
  padding: 20px 20px 20px 10px;
}
.thumbUp {
  width: 20px;
  height: 20px;
}
.flexWrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.flexWrapper img {
  margin-left: 10px;
}

button {
  width: 50px;
  height: 40px;
}
.likesBtn {
  margin-left: 30px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}
